/* detection/static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
}

/*******************ФОРМА******************/

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

form input[type="file"] {
    display: none; /* Скрываем стандартное поле выбора файла */
}

.file-input {
    position: relative;
    text-align: center;
}

.file-input label {
    background-color: #7b7b7b;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    display: inline-block;
}

.file-input label:hover {
    background-color: #666666;
}

.file-input label:after {
    content: "No file chosen";
    display: block;
    color: rgb(192, 192, 192);
    font-size: 14px;
    margin-top: 10px;
}

.file-input input[type="file"]:valid + label:after {
    content: attr(data-file-name);
}

img {
    max-width: 100%;
    width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.btn {
    background: #6600c5;
    padding: 15px 20px;
    font-size: 20px;
    color: #fff;
}

/*****Кнопки******/

button {
    background-color: #6600c5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}
.find_btn {
    text-align: center;
    margin-top: 20px;
}

.upload_btn {
    text-align: center;
    margin-bottom: 20px;
}

.upload_btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6600c5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.upload_btn a:hover {
    background-color: #4f0099;
}
